@model IEnumerable<Payroll.Models.Timesheet>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr style="border-top: 1px solid black">
            <th style="border: 1px solid black">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th style="border: 1px solid black">
                Monday
            </th>
            <th style="border: 1px solid black">
                Tuesday
            </th>
            <th style="border: 1px solid black">
                Wednesday
            </th>
            <th style="border: 1px solid black">
                Thursday
            </th>
            <th style="border: 1px solid black">
                Friday
            </th>
            <th style="border: 1px solid black">
                Saturday
            </th>
            <th style="border: 1px solid black">
                Sunday
            </th>
            <th style="border: 1px solid black">
                Total hours worked
            </th>
            <th style="border: 1px solid black">
              Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.Mon)
            </td>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.Tue)
            </td>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.Wed)
            </td>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.Thur)
            </td>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.Fri)
            </td>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.Sat)
            </td>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.Sun)
            </td>
            <td style="border: 1px solid black">
                @Html.DisplayFor(modelItem => item.HoursWorked)
            </td>
            <td style="border: 1px solid black">
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
